<h1>Welcome!</h1>
<fieldset>
  <legend>Register</legend>
  <form action="/users/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>
      <tr>
        <td>Name:</td>
        <td><input type="text" name="user[name]"></td>
      </tr>
      <tr>
        <td>Alias:</td>
        <td><input type="text" name="user[alias]"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="user[email]"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="user[password]"></td>
      </tr>
      <tr>
        <td>Password Confirmation:</td>
        <td><input type="password" name="user[password_confirmation]"></td>
      </tr>
    </table>
    <input type="submit" value="Create">
  </form>
</fieldset>
<fieldset>
  <legend>Login</legend>
  <form action="/users/login" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="email"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password"></td>
      </tr>
    </table>
    <input type="submit" value="Login">
  </form>
</fieldset>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %>
  <% end %>
<% end %>
